@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #00ff37;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #00ff37;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
  font-size: 3vh;
}

.terminal{
  background:#000000a0;
  color: var(--foreground);
  position: absolute;
  height: 75vh;
  width: 75vw;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 10px #a4a4a4;
  border-radius: 2vh;
  border : 1px solid #000;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 2%;
}


.input-line-prompt{
  width: fit-content;
}

.input{
  background: none;
  display: inline;
  /* width: 100%; */
}

.input:focus{
  outline: none;
}