@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #00ff37;
  ;
  height: 100%;
  width: 100%;
  cursor: url('../../public/cursor.png') 42 21 , auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #00ff37;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
  font-size: 2.85vh;
}

.backdrop{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000a0;
  display: flex;
  filter: blur(0.25px);
  justify-content: space-evenly;

}

.backdrop_layer{
  width: 10px;
  overflow: hidden;
  font-size: 20px;
  word-wrap: break-word;
}

.backdrop_text{
  filter: brightness(0.01);
}

.backdrop_overlay{
  position: absolute;
  top:0;
  left:0;
  height: 10vh;
  width: 2vw;
  background: linear-gradient(0deg, black 0%, transparent 50%, black 100%);
  backdrop-filter: brightness(100);
  translate: 0 -100%;
}

@keyframes move {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(calc(100vh + 100%));
  }
  
}

.terminal{
  /* background:#000000b9; */
  backdrop-filter: blur(2px);
  color: var(--foreground);
  position: absolute;
  height: 80vh;
  width: 85vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 2%;
}


.input-line-prompt{
  width: fit-content;
}

.input{
  background: none;
  display: inline;
  width: 80%;
  cursor: text;
}

.input:focus{
  outline: none;
}

.line{
  word-wrap: break-word;
}

.green{
  color: #00ff37;
}

.red{
  color: rgba(231, 0, 0);
  text-shadow: 1px 0px 1px #00d4f993;
  filter: brightness(1.5);
}

.yellow{
  color: yellow;
}

.white{
  color: white;
}

.blue{
  color: #00c8ff;
}


.mouseOverlay{
  backdrop-filter: brightness(1000) ;
  position: absolute;
  height: 150px;
  width: 150px;
  background: radial-gradient(circle, transparent 10%, rgba(0,0,0,1) 100%);
  border-radius: 50%;
  z-index: 10;
}

